CMakeFiles/
Testing/
CMake*
!CMakeLists.txt

*.html
*.htm

*.pyc
*.swp
*~
\#*
.\#*

*.exp
*.ilk
*.pdb

/doc/html/**
/doc/latex/**
/doc/man/**
/doc/docbook/**
/doc/xml/**

/build/**
/run_test/log_*

/linux/**
!/linux/lib/
!/linux/lib/**

/win_win32/**
!/win_win32/ACEd.dll
!/win_win32/ACE.dll
!/win_win32/lib/
!/win_win32/lib/**

/win_x64/**
!/win_x64/lib/
!/win_x64/lib/**
!/win_x64/ACEd.dll
!/win_x64/ACE.dll
